.root {
  .wrapper {
    @apply w-full lg:w-2/3;

    .text {
      @apply my-10 flex flex-col gap-y-6;

      p {
        @apply mb-4;
      }

      .input {
        @apply w-full;
      }
    }

    .images {
      @apply space-y-1;

      h2 {
        @apply mb-1 font-bold;
      }
    }

    .body {
      @apply mt-8;

      p {
        @apply mb-4;
      }

      .bodyTextItem {
        @apply mb-4 flex flex-col gap-y-3.5;

        .input {
          @apply text-base;
        }
      }
    }
  }

  .buttonBar {
    @apply mt-20 flex flex w-full justify-end gap-x-4;

    button {
      @apply float-right w-32 rounded-full px-9 py-2;
    }

    .cancelButton {
      @apply border border-black bg-white;
    }

    .addButton {
      @apply bg-dark text-white;
    }
  }
}
